In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
from collections import Counter
import seaborn as sns


from tensorflow.keras.models import load_model
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [33]:
df=pd.read_csv(r'D:\Book\bankloan.csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0.0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3.0,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1.0,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2.0,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0.0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [34]:
df=df.dropna()
df.isna().any()
df=df.drop('Loan_ID',axis=1)
df['LoanAmount']=(df['LoanAmount']*1000).astype(int)
Counter(df['Loan_Status'])

Counter({'N': 148, 'Y': 332})

In [35]:
pre_y=df['Loan_Status']
pre_X=df.drop('Loan_Status', axis=1)
dm_X=pd.get_dummies(pre_X)
dm_y=pre_y.map(dict(Y=1,N=0))
dm_X

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
1,1.0,4583,1508.0,128000,360.0,1.0,0,1,0,1,1,0,1,0,1,0,0
2,0.0,3000,0.0,66000,360.0,1.0,0,1,0,1,1,0,0,1,0,0,1
3,0.0,2583,2358.0,120000,360.0,1.0,0,1,0,1,0,1,1,0,0,0,1
4,0.0,6000,0.0,141000,360.0,1.0,0,1,1,0,1,0,1,0,0,0,1
5,2.0,5417,4196.0,267000,360.0,1.0,0,1,0,1,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0.0,2900,0.0,71000,360.0,1.0,1,0,1,0,1,0,1,0,1,0,0
610,3.0,4106,0.0,40000,180.0,1.0,0,1,0,1,1,0,1,0,1,0,0
611,1.0,8072,240.0,253000,360.0,1.0,0,1,0,1,1,0,1,0,0,0,1
612,2.0,7583,0.0,187000,360.0,1.0,0,1,0,1,1,0,1,0,0,0,1
613,0.0,4583,0.0,133000,360.0,0.0,1,0,1,0,1,0,0,1,0,1,0

In [36]:
X=dm_X
X

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
1,1.0,4583,1508.0,128000,360.0,1.0,0,1,0,1,1,0,1,0,1,0,0
2,0.0,3000,0.0,66000,360.0,1.0,0,1,0,1,1,0,0,1,0,0,1
3,0.0,2583,2358.0,120000,360.0,1.0,0,1,0,1,0,1,1,0,0,0,1
4,0.0,6000,0.0,141000,360.0,1.0,0,1,1,0,1,0,1,0,0,0,1
5,2.0,5417,4196.0,267000,360.0,1.0,0,1,0,1,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0.0,2900,0.0,71000,360.0,1.0,1,0,1,0,1,0,1,0,1,0,0
610,3.0,4106,0.0,40000,180.0,1.0,0,1,0,1,1,0,1,0,1,0,0
611,1.0,8072,240.0,253000,360.0,1.0,0,1,0,1,1,0,1,0,0,0,1
612,2.0,7583,0.0,187000,360.0,1.0,0,1,0,1,1,0,1,0,0,0,1
613,0.0,4583,0.0,133000,360.0,0.0,1,0,1,0,1,0,0,1,0,1,0

In [37]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 17 columns):
Dependents                 480 non-null float64
ApplicantIncome            480 non-null int64
CoapplicantIncome          480 non-null float64
LoanAmount                 480 non-null int32
Loan_Amount_Term           480 non-null float64
Credit_History             480 non-null float64
Gender_Female              480 non-null uint8
Gender_Male                480 non-null uint8
Married_No                 480 non-null uint8
Married_Yes                480 non-null uint8
Education_Graduate         480 non-null uint8
Education_Not Graduate     480 non-null uint8
Self_Employed_No           480 non-null uint8
Self_Employed_Yes          480 non-null uint8
Property_Area_Rural        480 non-null uint8
Property_Area_Semiurban    480 non-null uint8
Property_Area_Urban        480 non-null uint8
dtypes: float64(4), int32(1), int64(1), uint8(11)
memory usage: 29.5 KB

In [38]:
sc = MinMaxScaler()
X=dm_X
X_test = sc.fit_transform(X)
X_test

array([[0.33333333, 0.05482993, 0.0445666 , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.03525046, 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.        , 0.03009276, 0.06968703, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.33333333, 0.09798392, 0.00709283, ..., 0.        , 0.        ,
        1.        ],
       [0.66666667, 0.09193568, 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.        , 0.05482993, 0.        , ..., 0.        , 1.        ,
        0.        ]])

In [50]:
import pickle
from sklearn.externals import joblib
filename = 'scalers.pkl'
joblib.dump(X_test, filename)

['scalers.pkl']

In [39]:
from tensorflow.keras.models import load_model
new_model = load_model('my_model5.h5')
y_pred=new_model.predict(X_test)
y_pred=(y_pred>0.5)

In [40]:
new_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 200)               3600
_________________________________________________________________
dense_1 (Dense)              (None, 400)               80400
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 1604
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 5
=================================================================
Total params: 85,609
Trainable params: 85,609
Non-trainable params: 0
_________________________________________________________________

In [49]:
new_model.get_weights()

[array([[ 5.85339889e-02,  5.47780097e-02, -3.54840569e-02, ...,
          2.15538967e-04,  1.80564120e-01, -1.85094118e-01],
        [-1.52641401e-01,  2.92593449e-01, -8.63487199e-02, ...,
          5.04497290e-02, -3.93526107e-01, -5.71648590e-02],
        [-2.85996459e-02,  1.16374075e-01,  3.79380584e-02, ...,
          7.52324564e-03,  3.04468334e-01, -5.70919275e-01],
        ...,
        [-2.64757514e-01,  5.00786155e-02, -7.74021223e-02, ...,
         -2.31010318e-02, -2.49715611e-01,  8.12705681e-02],
        [-2.70624757e-02, -2.96057276e-02,  3.38879637e-02, ...,
         -1.12533402e-02, -4.68631461e-02, -2.22331826e-02],
        [ 9.14768502e-02,  7.47393370e-02, -8.80353525e-02, ...,
          3.91790923e-03, -1.23547144e-01,  1.30458698e-01]], dtype=float32),
 array([-1.85934585e-02,  6.23908173e-03, -2.78032068e-02, -9.75168217e-03,
         4.74588312e-02, -9.20899026e-03, -1.59423128e-02,  0.00000000e+00,
        -9.68508795e-03, -1.58384442e-02,  2.13202015e-02, -6.53216941e-03,
        -1.21760387e-02, -4.67783920e-02,  1.58426072e-02, -2.31258143e-02,
         4.30208491e-03, -7.95545493e-05, -4.82963212e-03, -2.06765160e-03,
        -1.48414066e-02, -3.62839550e-02,  2.82654911e-02, -1.48741277e-02,
        -1.53071927e-02, -5.15738456e-03,  3.18519101e-02,  5.67946546e-02,
         2.56808959e-02, -5.84012084e-02, -2.05547437e-02,  2.52855569e-02,
        -2.27423683e-02,  2.74723135e-02,  3.97401936e-02, -1.64697077e-02,
        -2.18571024e-03, -3.86400893e-02,  2.71730544e-03, -3.28602940e-02,
         3.46313491e-02,  2.64354013e-02, -1.55591648e-02, -2.06199959e-02,
        -1.59466602e-02,  2.47791354e-02,  7.42651848e-03,  2.62775738e-02,
        -4.75656148e-03, -1.07649472e-02,  0.00000000e+00,  4.92968829e-03,
        -9.00711864e-03,  5.88444807e-02, -2.68641841e-02,  5.00368094e-03,
         0.00000000e+00,  1.94040054e-04, -3.55541073e-02,  2.40735244e-03,
        -5.34975436e-03,  5.01317158e-02, -3.64704593e-03,  1.70416646e-02,
        -1.89273432e-02, -7.47365505e-03, -1.62143409e-02,  4.96123061e-02,
         1.45775285e-02, -2.16588303e-02, -9.57278628e-03, -1.12853739e-02,
         4.20913585e-02,  1.65477898e-02, -1.00220535e-02, -1.80418883e-02,
        -8.09045602e-03,  1.54049601e-02, -2.61613913e-02,  4.51154821e-02,
        -1.96724758e-02, -1.70819648e-02, -2.28293482e-02, -1.26217157e-02,
        -4.25562374e-02, -2.81910263e-02, -1.55574773e-02, -3.14286128e-02,
        -1.87964067e-02,  1.68258697e-02, -7.92766083e-03,  3.73952538e-02,
        -4.67632078e-02, -2.61280034e-02, -1.98038910e-02, -1.74127091e-02,
         4.53813374e-03, -2.35474668e-02,  4.74480353e-02, -2.63488647e-02,
        -2.16118284e-02, -2.00974867e-02,  3.70719545e-02, -4.42362763e-02,
         2.88509782e-02, -2.55534258e-02,  0.00000000e+00,  9.92029905e-03,
        -1.97557546e-02,  7.70488335e-03,  1.11205522e-02,  3.56133766e-02,
        -9.09649488e-03, -1.48804383e-02, -2.31024697e-02, -4.37295623e-02,
         3.39120142e-02, -2.90331542e-02, -9.38552245e-03,  2.12717261e-02,
         3.22663225e-02,  0.00000000e+00,  1.46040879e-02, -1.20557770e-02,
        -2.20575873e-02, -1.90051720e-02,  2.62516644e-02, -8.15828238e-03,
        -1.99081190e-02, -2.70708166e-02,  1.10387979e-02,  2.88298298e-02,
         2.56059822e-02,  1.31085282e-02, -3.88676561e-02, -1.98121313e-02,
        -2.49268375e-02,  9.00719222e-03,  4.18657996e-02,  4.21488918e-02,
         2.61294935e-02, -8.93838238e-03, -5.87470829e-04,  2.78090108e-02,
         1.43493600e-02, -6.97060209e-03, -2.63467729e-02, -4.17227484e-03,
        -2.80585866e-02, -2.72045378e-02, -7.66671216e-03, -3.40886265e-02,
         3.15619074e-02,  3.10604200e-02, -4.12770845e-02, -4.59204661e-03,
         7.86288269e-03, -4.12218086e-02,  1.83807816e-02, -4.66815270e-02,
        -1.39593678e-02,  1.83612283e-03,  1.79723948e-02,  2.25935201e-03,
         0.00000000e+00, -1.87870692e-02,  2.23132186e-02,  2.68028993e-02,
         0.00000000e+00, -2.11905763e-02,  2.29636598e-02, -1.98215321e-02,
        -1.16532100e-02, -2.47661807e-02, -2.31736694e-02, -1.93996001e-02,
         2.83324197e-02, -2.32657939e-02,  2.60446640e-03,  4.65706848e-02,
        -1.97956357e-02,  4.59070504e-03, -1.88459679e-02, -1.50422482e-02,
        -1.21277617e-02,  3.92026966e-03,  4.61561419e-03,  3.26533169e-02,
         3.99543829e-02, -3.54277305e-02, -6.23038458e-03, -7.35422457e-03,
         0.00000000e+00, -1.30601320e-02,  2.66325772e-02,  1.28262769e-02,
        -1.13370651e-02,  0.00000000e+00, -5.84337162e-03,  3.90255377e-02],
       dtype=float32),
 array([[-5.52810989e-02,  3.25631574e-02,  1.20840862e-01, ...,
          1.03767164e-01,  6.64441660e-02, -5.29714674e-02],
        [ 1.36564136e-01,  1.05360992e-01,  4.62356256e-03, ...,
          1.41834930e-01, -3.09454836e-02,  5.16023487e-02],
        [ 3.99136394e-02, -2.08936948e-02,  1.62629053e-01, ...,
         -1.39463535e-02,  1.24156266e-01,  7.10480958e-02],
        ...,
        [ 7.65174031e-02, -4.20823246e-02,  3.18735139e-04, ...,
         -4.67289649e-02,  1.44691123e-02, -2.37070825e-02],
        [-8.01679268e-02,  3.40703696e-01,  3.17501903e-01, ...,
          3.54792356e-01,  2.58555878e-02, -1.28464028e-01],
        [ 3.35295558e-01, -2.08454370e-01, -2.69960225e-01, ...,
         -2.26835907e-01,  5.13627231e-02,  3.11741829e-01]], dtype=float32),
 array([ 0.06392719, -0.03182787, -0.03951224, -0.01974012, -0.0098655 ,
         0.08373344, -0.03828266,  0.06405964, -0.03514244, -0.02943413,
         0.07889725, -0.03678557,  0.03289176,  0.06164444,  0.06851732,
        -0.02898264, -0.01646511, -0.04691741,  0.06976715,  0.05078947,
        -0.02298107, -0.0279031 , -0.02944493, -0.02911106, -0.01562843,
        -0.06124364, -0.03129473,  0.06311271, -0.00783822, -0.01300572,
         0.05010591, -0.05927375, -0.02158962, -0.03718658,  0.        ,
         0.06024373, -0.03901774, -0.02308241, -0.01986364, -0.04497875,
        -0.01587716,  0.06599957, -0.01831831,  0.06770343,  0.06369378,
        -0.05325162, -0.01120824, -0.03404292,  0.05120838, -0.01979177,
        -0.03325074, -0.01114906,  0.06768111, -0.01221823, -0.02892442,
        -0.05139647, -0.0313878 , -0.04791127, -0.03650765,  0.05916853,
         0.07762285,  0.05645562, -0.03049821,  0.04523894,  0.07664169,
        -0.02891418, -0.03224462,  0.07438986, -0.01019667,  0.07190262,
         0.05770508, -0.04650132, -0.04054724, -0.03019255, -0.02094805,
         0.06031736, -0.02525317, -0.03493767, -0.0304891 , -0.03876032,
        -0.03108662, -0.04749015, -0.02442513,  0.05968493, -0.03559855,
        -0.05673624, -0.00725933, -0.02559381,  0.        , -0.03361189,
         0.05997372, -0.03478064,  0.08690972,  0.00469516,  0.05884514,
        -0.02953769, -0.04102511,  0.06934667,  0.06994161, -0.01336122,
        -0.02017974,  0.05864877, -0.10779066, -0.01828598,  0.06908566,
        -0.01022734, -0.03080327, -0.04708159,  0.05666347, -0.09482738,
         0.06030354, -0.03137415,  0.10007724, -0.02865802, -0.02974727,
         0.06128565, -0.03553715, -0.01216498,  0.06345112, -0.02484544,
         0.06205679,  0.06158378, -0.0506673 , -0.02559672,  0.06798927,
        -0.04174947,  0.04769925,  0.07638925, -0.03025555, -0.03604035,
        -0.03646861, -0.03595372, -0.00053862, -0.03442506, -0.0250615 ,
        -0.07796445,  0.07259695, -0.01614864,  0.06461305,  0.06834166,
        -0.02615506,  0.0610162 ,  0.07960735, -0.01146733, -0.02360751,
        -0.04744323, -0.02995029,  0.06449073,  0.07176493,  0.05661078,
        -0.03072386,  0.06844591, -0.01016692, -0.02558316,  0.06415938,
        -0.02597735,  0.08475483, -0.04839162, -0.02807669, -0.00997648,
        -0.03719217, -0.04315273,  0.06677438, -0.01859169,  0.08041172,
        -0.01392123, -0.04733641,  0.08544514, -0.03195244, -0.05288299,
        -0.01750297, -0.05954405, -0.04215347, -0.02812629, -0.04405227,
        -0.04436175, -0.03006164,  0.05888816, -0.0182242 ,  0.06758705,
        -0.01512748, -0.03308135,  0.07974223,  0.06936816,  0.0573108 ,
        -0.03328077, -0.02911213, -0.01645437, -0.04918881,  0.06666955,
         0.06394867, -0.01964618,  0.05826657,  0.0814091 , -0.01210741,
        -0.02127257, -0.02075016, -0.02071196,  0.09741795, -0.01968251,
         0.00534791, -0.02454645, -0.02299743,  0.06861708,  0.06894559,
         0.07317562, -0.03345766, -0.01607729, -0.02903418,  0.07496435,
         0.06521428, -0.0273619 , -0.01588945, -0.0170735 , -0.03715021,
        -0.02753929, -0.05123744, -0.02491283, -0.01059799, -0.01625921,
         0.06699943, -0.03294636, -0.03061011, -0.03812461, -0.0269822 ,
        -0.02637339, -0.02758944, -0.0101916 , -0.01868884, -0.02565933,
        -0.04394853, -0.02020453,  0.08168122, -0.03623086, -0.01981397,
        -0.02780498, -0.0305374 , -0.03229278, -0.0310054 ,  0.07143194,
        -0.01497515,  0.04922402, -0.02903142, -0.01861879,  0.0881822 ,
         0.0495029 ,  0.07275016,  0.07993169, -0.02374739, -0.03984692,
        -0.03621582,  0.058814  , -0.04243178, -0.04384971, -0.0469008 ,
        -0.04974443, -0.01073249,  0.06353991,  0.06542276, -0.01471434,
        -0.00414358, -0.03166259, -0.02173602, -0.03508085,  0.05895046,
        -0.02698807, -0.02631853, -0.02821921,  0.08590172, -0.03636911,
        -0.01235664,  0.06522837, -0.04019794,  0.06379753, -0.01296492,
         0.0824561 ,  0.04739478, -0.02909164, -0.02624099, -0.04554331,
        -0.02641064,  0.07977577, -0.02194417, -0.02680539, -0.01475601,
        -0.04226126, -0.02801936, -0.03551434, -0.01012974, -0.05437353,
        -0.06633276, -0.01280579,  0.05762975, -0.02593992, -0.04761823,
         0.05752187, -0.00278122, -0.01673017, -0.03219124, -0.03062048,
         0.07869208, -0.02294688,  0.05773618, -0.0207264 , -0.01997481,
         0.09606494, -0.03109954, -0.01960395,  0.06744217, -0.00645077,
         0.08333188, -0.01803138, -0.02730649, -0.03414671,  0.05116885,
        -0.03146456, -0.02876614,  0.05792084, -0.0056271 , -0.02794158,
        -0.02979778, -0.0495656 ,  0.06473881, -0.02041641, -0.02781962,
        -0.03562228, -0.02960163,  0.07447401,  0.08656637, -0.05262014,
        -0.0198448 , -0.02053184, -0.04690471, -0.04405592, -0.02885207,
        -0.0047401 , -0.02805315, -0.00936403, -0.0206737 , -0.04256239,
        -0.00849838,  0.07457858,  0.05922095, -0.02152659, -0.03062419,
        -0.02884131, -0.02178477,  0.08231124,  0.05882785, -0.02309697,
        -0.02064845,  0.07226103, -0.04475481, -0.01501981,  0.06537671,
         0.07123261,  0.05700252,  0.07897228, -0.01541923, -0.03199491,
        -0.02914125,  0.05006039, -0.02469297, -0.03323131,  0.02410091,
        -0.02901185,  0.07403964, -0.01366916,  0.07801096, -0.01454905,
        -0.04212169,  0.05469616,  0.05837216, -0.0152013 , -0.01670405,
        -0.03129318, -0.02834892,  0.09059501, -0.00924799, -0.03347459,
        -0.03345433, -0.02486611, -0.02562085, -0.02478853,  0.05670196,
        -0.01096178,  0.06211407,  0.06673118,  0.07041687,  0.06307252,
         0.07172442, -0.01909752,  0.04978935, -0.02372256,  0.06237158,
        -0.02794079,  0.06746387, -0.01611909,  0.00563929,  0.06202075],
       dtype=float32),
 array([[-0.00484673, -0.30800885,  0.00504604, -0.28966483],
        [ 0.00840158,  0.23914067,  0.00041952,  0.16113326],
        [-0.06941758,  0.06113408, -0.05598249,  0.1550016 ],
        ...,
        [ 0.00416918,  0.17235655, -0.04367893,  0.11391864],
        [-0.03487679, -0.02991953,  0.04548472, -0.01280677],
        [ 0.00740342, -0.28576428, -0.02244124, -0.40011492]],
       dtype=float32),
 array([-0.0052131 , -0.01602663, -0.03031864, -0.02042652], dtype=float32),
 array([[0.04731486],
        [0.28249308],
        [0.00669683],
        [0.30889666]], dtype=float32),
 array([-1.3786172], dtype=float32)]

In [45]:
y_pred

array([[ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False]])

In [46]:
val = pd.DataFrame(y_pred, columns=['Status'])
val=val.replace({True:'Approved', False:'Rejected'})
val

       Status
0    Approved
1    Approved
2    Approved
3    Rejected
4    Approved
..        ...
475  Rejected
476  Approved
477  Approved
478  Approved
479  Rejected

[480 rows x 1 columns]